In [12]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode, get_json_object, to_json, struct

In [13]:
# Jupyter 노트북 셀에서 PySpark 코드 실행
from pyspark.sql import SparkSession

# Spark 세션 생성
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("PySparkTest") \
    .getOrCreate()

In [14]:
# meta_sample.csv 경로
csv_path = '/Users/b06/Desktop/yeardream/medi-05/data/meta_sample.csv'


# 데이터 로드
df = spark.read.csv(csv_path, header=True)

In [15]:
print(df)

DataFrame[id: string, name: string, review_settings_keyword: string, keywords_1: string, keywords_2: string, keywords_3: string, keywords_4: string, keywords_5: string, menu_name: string, menu_price: string, menu_description: string, menu_images: string, visitor_reviews_total: string, photo_review_ratio: string, fsas_reviews_total: string, images_count: string, naver_booking_url: string, talktalk_url: string, road: string, virtual_phone: string, phone: string, is_smart_phone: string, is_blog_exposed: string, zeropay_available: string, conveniences_1: string, conveniences_2: string, conveniences_3: string, conveniences_4: string, conveniences_5: string, conveniences_6: string, conveniences_7: string, conveniences_8: string, conveniences_9: string, conveniences_10: string, conveniences_11: string, homepages_url: string, homepages_landingUrl: string, homepages_type: string, homepages_order: string, homepages_isDeadUrl: string, homepages_isRep: string, description_length: string, description: string, self_blog_present: string, qna_answer_count: string, crawled_at: string]

In [16]:
# df를 flatten
flattened_df = df.select(
    col("id"),
    col("name"),
    get_json_object(col("json_column_name"), "$.key").alias("extracted_key")
    # explode 함수를 사용하는 경우에도 실제 존재하는 배열 형태의 컬럼 이름을 사용해야 합니다.
)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `json_column_name` cannot be resolved. Did you mean one of the following? [`menu_name`, `crawled_at`, `name`, `conveniences_1`, `conveniences_2`].;
'Project [id#243, name#244, get_json_object('json_column_name, $.key) AS extracted_key#335]
+- Relation [id#243,name#244,review_settings_keyword#245,keywords_1#246,keywords_2#247,keywords_3#248,keywords_4#249,keywords_5#250,menu_name#251,menu_price#252,menu_description#253,menu_images#254,visitor_reviews_total#255,photo_review_ratio#256,fsas_reviews_total#257,images_count#258,naver_booking_url#259,talktalk_url#260,road#261,virtual_phone#262,phone#263,is_smart_phone#264,is_blog_exposed#265,zeropay_available#266,... 22 more fields] csv